@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,800);

/* Color Scheme */
.darkgrey   { color: #272822; }
.black      { color: #101010; }
.white      { color: #ffffff; }
.grey       { color: #75715e; }
.lightgrey  { color: #575855; }
.pink       { color: #f92672; }
.orange     { color: #fd971f; }
.yellow     { color: #f6f080; }
.green      { color: #a6e22e; }
.blue       { color: #4eb4fa; }
.purple     { color: #ae81ff; }

.App {
  width:100%;
  display:block;
  max-width: 40em;
  margin: 0 auto;
  background: #575855;
  padding-bottom: 1rem;
}


h1, button, #info, .chord {
    margin: 1rem;
}

h1 {
  color: #fd971f;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 0;
}

button {
  display: inline-block;
  height: 2rem;
  background: #fd971f;
  border:none;
  border-radius: 0;
  font-size: 1rem;
  color: #272822;
}

#chords {
  font-size: 1.5rem;
  font-weight: 800;
}

.chord {
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
