body {
  margin: 0;
  padding: 0;
  background-color: #272822;
  color: white;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 60em) {
  .chord {
    font-size: 150%;
  }
}
