@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,800);

/* Color Scheme */
.darkgrey   { color: #272822; }
.black      { color: #101010; }
.white      { color: #ffffff; }
.grey       { color: #75715e; }
.lightgrey  { color: #575855; }
.pink       { color: #f92672; }
.orange     { color: #fd971f; }
.yellow     { color: #f6f080; }
.green      { color: #a6e22e; }
.blue       { color: #4eb4fa; }
.purple     { color: #ae81ff; }

html, body {
    background-color: #272822;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

h1 {
    color: fd971f;
}

#app {
    width:100%;
    display:block;
    max-width: 40em;
    margin: 1em auto;
    background: #575855;
}

h1, div, table, button {
    margin: 1rem;
}

#chords {
    font-size: 2em;
    font-weight: 800;
}

table :first-child {
    border-style: none dotted none solid;
    border-width: 1px;
}

table :last-child {
    border-style: none double none none;
    border-width: 1px;
}

table td {
    border-style: none dotted none none;
    padding: 0.5em;
    border-width: 1px;
}

button {
    display: inline-block;
    height: 2em;
    background: #fd971f;
    border:none;
    border-radius: 0;
    font-size: 1em;
    color: #272822;
}